@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@font-face {
  font-family: "Comfortaa";
  src: url("/assets/fonts/Comfortaa/Comfortaa-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  src: url("/assets/fonts/FiraMono/FiraMono-Regular.ttf") format("truetype");
}

/* CSS Variables*/
:root {
  --primary-color: #231f20;
  --primary-color-hover: #f4f4f4;
  --secondary-color: #c53025;
  --secondary-color-hover: #f4f4f4;
  --light-color: #fff;
  --footer-color: #e6e3e3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, serif;
  background-color: white;
  color: var(--primary-color);
  line-height: 1.6;
  margin: 0;
}

h2 {
  font-family: "Open Sans", serif;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  font-size: 1.1em;
  letter-spacing: 1px;
  text-decoration: none;
  /* border-bottom: 1px solid transparent; */
  padding: 0.1em 0.1em;
  transition: /* border-bottom 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), */ color
      0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    color: #ff0000;
}

a:hover {
  display: inline-block;
  transform: scale(1.1);
  color: var(--secondary-color);
  /* border-bottom: 1px solid var(--secondary-color); */
}

h1,
h3 {
  color: var(--light-color);
}

h3 {
  padding: 1em;
}

/* Navigation Styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0 !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed !important;
  background-color: var(--footer-color) !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1;
  /*border-bottom: 1px solid #231f20 !important;*/
}

.logo {
  color: var(--primary-color);
  font-size: 1.3em;
}

nav .nav-cols {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 0.6fr 4fr 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  width: 100%;
}

.nav-links {
  justify-self: flex-start;
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem, 0;
  text-align: center;
}

.nav-links li {
  list-style: none;
}

/* .nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5em;
  letter-spacing: 1px;
} */

.player {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: var(--secondary-color);
  padding: 0.7em;
  border-radius: 25px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px;
  transition: all 0.3s ease;
}

.playermain {
  display: none;
}

.section-up {
  width: 550px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 9em 0 0 2em;
  text-align: center;
}

.section-main {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  /* .nav-links {
    width: 60%;
  } */
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #showcase {
    overflow-x: hidden;
  }

  nav .nav-cols {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 3fr 1fr;
    padding: 2rem, 1rem;
    align-items: center;
    text-align: left;
    font-size: 14px;
    width: 100%;    
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;   
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: inline;
    cursor: pointer;
  }

  .player {
    display: none;
  }

  .playermain {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 0.5em;
    border-radius: 15px;
  }

  .section-up {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em 2em 0 2em;
    text-align: center;
    font-size: 0.8em;
  }

  .section-main {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.anim-rotate .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) !important;
}

.anim-rotate .line2 {
  opacity: 0 !important;
}

.anim-rotate .line3 {
  transform: rotate(45deg) translate(-5px, -6px) !important;
}

@media screen and (max-width: 768px) {
  .hide-on-small {
    display: none !important;
  }

  #showcase {
    /* height: 100vh !important; */
    overflow-x: hidden !important;
  }

  #showcase .container {
    margin-top: 0 !important;
  }

  #showcase h1 {
    font-size: 2rem !important;
  }

  #showcase h2 {
    font-size: 1.4rem !important;
  }
}

@media screen and (max-height: 580px) {
  #showcase h1 {
    font-size: 2rem !important;
  }

  #showcase h2 {
    font-size: 1.4rem !important;
  }

  #showcase p.lead {
    display: none;
  }
}

/* Section */
.section {
  padding: 9vh 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2.5rem;
}

/* Showcase */

#showcase {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  background: linear-gradient(
      to bottom,
      rgba(185, 155, 154, 0.7) 0%,
      rgba(185, 155, 154, 0.7) 100%
    ),
    url("../assets/img/colibri.jpg") no-repeat center/cover;
  width: 100%;
  /* height: 100vh; */
}

#showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2 {
  font-size: 1.8rem;
}

/* Footer */
footer {
  background-color: var(--footer-color);
  color: var(--primary-color);
  margin: 0;
  padding: 2em;
  font-size: 0.8em;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-flex > * {
  margin: 0 5px;
}

@media screen and (max-width: 780px) {
  .card {
    grid-template-columns: 1fr !important;
  }
}

/* Utility Classes*/

.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.container2 {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.primarycolor {
  color: var(--primary-color);
}

.bg-light {
  background-color: var(--light-color);
}

.lead {
  font-size: 1.3rem;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

.float-right {
  float: right;
}

/* Back to top button*/
.back-to-top {
  display: none;
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  outline: none;
  padding: 1rem;
  border: 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.btn-entrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btn-entrance;
}

@keyframes btn-entrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

.btn-exit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btn-exit;
}

@keyframes btn-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-primary {
  color: var(--light-color);
}

.text-light {
  color: var(--light-color);
}

.text-center {
  text-align: center;
}

/* Card Grid*/
.card {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

#chat {
  background-color: var(--secondary-color);
  min-height: 100vh;
}

.textarea {
  height: calc(1.5em + 1rem + 60px) !important;
}

input,
textarea {
  transition: border-bottom 0.2s;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid black;
  outline: none;
}

/* Contact */

.form-container {
  display: flex;
  flex-direction: column;
  margin: 1em auto 2em;
  width: 100%;
  padding: 0 1em;
  max-width: 730px;
}

.form-container label {
  font-size: 1.125em;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1rem + 2px);
  font-size: 1.25em;
  line-height: 1.5;
  border-bottom: 1px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--primary-color);
  background-color: transparent;
  padding-top: 1em;
}

/* Buttons */
.btn {
  display: inline-block;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  padding: 1rem 1.1rem;
  margin: 1.5rem 0;
  border: none;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--light-color);
  box-shadow: none;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  transition: background-color 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    color 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    box-shadow 0.45s cubic-bezier(0.215, 0.61, 0.355, 1),
    border-radius 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 15%;
  border: none;
}

.btn:active {
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: inset 0 0 0 4px var(--primary-color);
}

.mt-1 {
  margin-top: 1em;
}

.fontopen {
  font-family: "Open Sans", sans-serif;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 2em;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.flextiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tile {
  border: 1px solid black;
  padding: 1em;
}
