<section id="showcase" class="section">
    <!-- Main Section -->
    <div class="section-up">
        <!-- <div class="">
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="E6RGPZXJYRGTG" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
                    name="submit" title="PayPal - The safer, easier way to pay online!"
                    alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_GR/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>

        <p>       
        </p> -->

    </div>
    <div class="container">
        <div class="section-main">
            <div class="playermain">
                <script src="//myradiostream.com/embed/colibreradio"></script>
            </div>
            <h1>CoLibre Radio</h1>
        </div>
    </div>
</section>
<!-- chat Section -->
<section id="chat" class="section">
    <div class="container2">
        <h3>Chat Room</h3>
        <iframe src="https://minnit.chat/CoLibreChat?embed&nickname=" class="shadow mb-4 bg-white"
            style="border:0;width:90%;height:500px;" allowTransparency="true"></iframe>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="section">
    <div class="container">
        <h3 class="primarycolor">Contact Us</h3>
    </div>

    <form name="contact" class="form-container" method="POST" data-netlify="true">
        <!--Grid row-->
        <input type="text" id="name" name="name" class="form-control" required>
        <label for="name" id="namelabel">Your Name*</label>
        <!--Grid row-->
        <input type="email" id="email" name="email" class="form-control">
        <label for="email" id="emaillabel">Email</label>
        <!--Grid row-->
        <textarea type="text" id="body" name="message" class="form-control textarea" required></textarea>
        <label for="message" id="messagelabel">Text*</label>
        <div class="mt-1">
            <div data-netlify-recaptcha="true">
            </div>
        </div>
        <div class="mt-1">
            <button type="submit" class="btn">Send</button>
        </div>
    </form>


</section>