<section id="showcase" class="section">
    <!-- Main Section -->
    <div class="section-up">

    </div>
    <div class="container">
        <h2>Τίποτα, αλλά τίποτα που συμβαίνει δεν είναι τυχαίο
        Είναι απαραίτητο να διατηρηθεί μία ακραία και ακραία προσοχή με ό, τι συμβαίνει</h2>
        <br><h2>Nada, pero nada de lo que pasa es por casualidad
            Hay que mantenerse con suma y extrema atención con todo lo que acontece</h2><br>
        <p>Ως συνέχιση του αγώνα μας λοιπόν, αλλά και για να δείξουμε στους συντρόλλους και τις συντρόλλισσες και τους απανταχού μοναχικούς τρόλληδες και τρόλλισσες ότι ο τρολλικός αγώνας δεν φυλακίζεται και δεν καταστέλλεται, αποφασίσαμε να χτυπήσουμε άμεσα και δραστικά</p>
        <br><p>Η καπιταλιστική δύση έχτισε τα θεμέλια της με αίμα και εκμετάλλευση, επεκτείνοντας την οικονομική ή και στρατιωτική κυριαρχία της σε κάθε γωνιά του πλανήτη, καταδικάζοντας ολόκληρους πληθυσμούς στη φτώχεια, το θάνατο και ρημάζοντας το φυσικό περιβάλλον.</p>
        <br><p>Nα γίνουμε η άμμος στα γρανάζια της καπιταλιστικής μηχανής
            πυροκροτητής στα θεμέλια της ;)</p>
            <br><p>Aκραία σκηνικά
                Eμπιστευτικές φάσεις</p>
                <br><p>Σας περιμένουμε</p>
    </div>
</section>
<!-- chat Section -->
<!-- <section id="chat" class="section">
    <div class="container2">
        <h3>Chat Room</h3>
        <iframe src="https://minnit.chat/CoLibreChat?embed&nickname=" class="shadow mb-4 bg-white"
            style="border:0;width:90%;height:500px;" allowTransparency="true"></iframe>
    </div>
</section> -->