<section id="showcase" class="section">
    <!-- Main Section -->
    <div class="section-up">

    </div>
    <div class="container">
        <div class="video-responsive">
            <iframe width="420" height="315" frameborder="0" allowfullscreen style="margin-bottom: 1em;"
                src="https://www.youtube.com/embed/{{site.data.site.video}}">
            </iframe>
        </div>

        <h2>{{site.data.site.FirstTitle}}</h2><br>
        <h2>{{site.data.site.SecondTitle}}</h2><br>
        <p>{{site.data.site.MainText}}</p>
    </div>
</section>
<!-- posts Section -->
<section id="posts" class="section">
    <div class="container2">

        <div class="flextiles">

            {% for post in site.posts %}
            {% assign count = count | plus:1 %}

            <div class="tile">
                <h2>{{ post.title }}</h2>

                <p>{{ post.excerpt }}</p>
            </div>

            <!-- {% if count == 3 %}{% break %}
            {% endif %} -->

            {% endfor %}

        </div>

    </div>
</section>