<header>
    <nav>
        <div class="nav-cols">
            <div>
                <a href="{{site.baseurl}}/#" class="logo">PILOTI</a>                
            </div>
            <ul class="nav-links">
                <a href="{{site.baseurl}}/#posts" class="logo">POSTS</a>
            </ul>
            <!-- <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div> -->
        </div>
    </nav>
</header>