{% include head.html %}

<body id="page-top">

    {% include nav.html %}

    <section id="showcase" class="section">
        <div class="container" style="margin-top: 3em;">

            <h2>{{ page.title }}</h2><br>
            <p>{{ page.date | date: "%-d %B %Y %R" }}</p>
            <br>
            <a href="{{ page.author }}" class="inactiveLink">{{ page.author }}</a>
            

            <img class="img-fluid" src="{{page.thumbnail}}" style="margin: 1em 0;"/>
            
            <p>

                {{content}}

            </p>

        </div>
    </section>


    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top mb-5" role="button" data-toggle="tooltip"
        data-placement="left"><i class="fa fa-arrow-up"></i></a>


    {% include footer.html %}